.content {
  margin-bottom: 70px; /* Espacio inferior para evitar que el contenido se solape con la barra de navegación */
}

.barrasuperior {
    top: 0;
    width: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
}

.barrafiltro{
  align-items: center;
}

h1{
  display: flex;
}

.bi-grid,
.bi-clock,
.bi-calendar-check,
.bi-patch-plus {
  font-size: 1.5em;
}

.navbar {
  background-color: #0d6efd; /* Fondo azul */
  color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999;
}

.navbar .nav-link {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar .container {
  display: flex;
  justify-content: center;
}

.card {
  background-color: #fefefe;
  border: 1px solid;
  border-radius: 8px;
  padding: 10px;
  margin: 5px;
}

/* ESTILOS DEL MODAL*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 20px;
  max-width: 600px;
  text-align: center;
}

.modal-content {
  margin-bottom: 20px;
}

.modal-close {
  background-color: #ccc;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

