.content {
    margin-bottom: 70px; /* Espacio inferior para evitar que el contenido se solape con la barra de navegación */
}

.navbar {
    background-color: #0D6EFD; /* Fondo azul */
    color: #ffffff; 
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
}

.navbar .nav-link {
    color: #ffffff; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar .container {
    display: flex;
    justify-content: center;
}

.card {
background-color: #fefefe;
    border: 1px solid;
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
}